# sysalert.timer
[Unit]
Description=Run sysalert every 20 seconds

[Timer]
OnBootSec=1min
OnUnitActiveSec=20s
AccuracySec=1s

[Install]
WantedBy=timers.target