[Desktop Entry]
Name=Discord
StartupWMClass=discord
Comment= Discord with x11 to allow global keybinds
GenericName=Internet Messenger
Exec=/usr/bin/discord --ozone-platform=x11 --url -- %u
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/discord;
Path=/usr/bin
